<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">


	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url" value="jdbc:mysql://localhost:3306/signup">
		</property>
		<property name="username" value="root"></property>
		<property name="password" value="602302300"></property>
		<property name="maxWait"            value="1000" />
        <property name="initialSize"        value="5" />
        <property name="maxActive"          value="20" />
        <property name="maxIdle"            value="5" />
        <property name="testWhileIdle"      value="true" />
        <property name="timeBetweenEvictionRunsMillis"  value="15000" />
        <property name="numTestsPerEvictionRun"         value="20" />
        <property name="validationQuery"    value="SELECT 1 FROM DUAL" />
        <property name="removeAbandoned"    value="true" />
        <property name="removeAbandonedTimeout"         value="180" />
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="hibernate.show_sql" >true</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/colin/domain/Staff.hbm.xml</value>
				<value>com/colin/domain/Record.hbm.xml</value>
				<value>com/colin/domain/SysManager.hbm.xml</value></list>
		</property></bean>
		
			<!-- action的bean -->
	<bean id="login" class="com.colin.action.LoginAction"></bean>
	<bean id="add" class="com.colin.action.AddAction"></bean>
	<bean id="delete" class="com.colin.action.DeleteAction"></bean>
	<bean id="update" class="com.colin.action.UpdateAction"></bean>
	<bean id="location" class="com.colin.action.LocationAction"></bean>
	<bean id="goUpdate" class="com.colin.action.GoUpdateAction"></bean>
	<!-- service的bean -->
	<bean id="checkService" class="com.colin.service.LoginService">
		<property name="smDAO">
			<ref bean="SysManagerDAO" />
		</property>
	</bean>
	<bean id="OperateService" class="com.colin.service.OperateService">
		<property name="sDAO">
			<ref bean="StaffDAO" />
		</property>
	</bean>
	<bean id="GetResult" class="com.colin.service.GetResult">
		<property name="sDAO">
			<ref bean="StaffDAO" />
		</property>
		<property name="rDAO">
			<ref bean="RecordDAO" />
		</property>
	</bean>
	<bean id="StaffDAO" class="com.colin.domain.StaffDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="RecordDAO" class="com.colin.domain.RecordDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="SysManagerDAO" class="com.colin.domain.SysManagerDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean></beans>